.subscrib {
    display: flex;
    margin-left: 93px;
  }
  .subscribe_email {
    display: flex;
    margin-top: 20px;
  }
  .subscribe_text {
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscribe_email__box {
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    width: 358px;
    display: inline-block;
    padding: 15px 0 15px 16px;
    align-items: center;
    letter-spacing: 0.03em;
    background: inherit;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--background);
    margin-right: 12px;
  
  &:hover,
  &:focus {
    outline: none;
  }

  &:focus:valid {
    border-color: var(--blue);
  }
  &:focus:invalid {
    border-color: red;
  }
}
  .subscribe_email__button {
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    color: var(--background);
    background: var(--blue);
    fill: var(--background);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe_email__button_icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  @media screen and(max-width:480px) {
    .subscrib {
      margin-left: 15px;
      margin-top: 60px;
    }
    .subscribe_email {
      display: block;
    }
    .subscribe_email__box {
      display: inline-block;
      
    }
    .subscribe_email__button {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }