
 .map {
    color: var(--background);
  }
  .address_list__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
  .address_list :not(:last-child) {
    margin-bottom: 9px;
  }
  .address {
    font-style: normal;
    margin-top: 20px;
  }