.footer {
    background: var(--background-grey);
    color: #ffffff;
  }
  .footer_aline {
    display: flex;
    align-items: baseline;
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(max-width:767px) {
    .footer_aline {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
  @media screen and (min-width:768px) and (max-width:1200px) {
    .footer_aline {
      width: 768px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  @media screen and (min-width:1200px) {
    .footer_aline {
      width: 1200px;
    }
  }