.header {
    background: var(--background);
  }
  .header_portfolio {
    border-bottom: 1px solid #ececec;
  }
  .icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
  .header_container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 25px;
    }
    .mobile_menu {
      margin-left: auto;
    }
  @media screen and (max-width: 480px) {
  .header {
    width: auto;
    }
  // 
  .header_container{
    width: auto;
    }
}
   @media  screen and (min-width: 481px) {
    .burger {display: none; }

   }
