.header {
    background: var(--background);
  }
  .header_portfolio {
    border-bottom: 1px solid #ececec;
  }
  .icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
  .header_container {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 25px;
    width: auto;
    }
   @media  screen and (min-width: 767px) {
    .burger {display: none; }
   }
  //  @media  screen and (min-width: 767px) and (max-width:1200px) {
  //   .header_container{
  //     height: 34px;
  //     margin: 21px 0;
  //   }
  //  }
   
