.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    font-family: "Raleway", sans-serif;
    margin-right: 93px;
  }
  .footer_logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--background);
    border: springgreen;
  }
  .accent {
    color: #2196f3;
  }