.hero_button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus,
  &:hover {
    background: var(--more-blue);
  }
}
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .all {
    width: 73px;
  }
  .site {
    width: 128px;
  }
  .add {
    width: 145px;
  }
  .designe {
    width: 103px;
  }
  .trade {
    width: 130px;
  }
  .buttons_list:not(:last-child) {
    margin-right: 8px;
  }
  .buttons__list_button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    min-height: 38px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: var(--background);
    background: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
@media screen and (max-width:767px) {
  .buttons {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .buttons_list:nth-child(n+4),.buttons_list:nth-child(n+5) {
    margin-top: 15px;
  }
}