.modal__button_close {
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: transparent;
  &:hover,
  &:focus {
    fill: var(--blue);
    cursor: pointer;
  }
}
.modal__button_close_simvol {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
//modal_button__send btn=============
.modal_button__send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--blue);
  color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border-color: inherit;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 30px auto;

&:hover,
&:focus {
  background: var(--more-blue);
}
}
/////====mobile modal btn close
.mobile_modal__button_close {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
&:hover,
&:focus {
  fill: var(--blue);
  cursor: pointer;
}
}
.mobile_modal__button_close_simvol {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}