.hero {
  background: var(--background-grey);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desctop-img-hero.jpg);

  object-position: center;
  background-size: cover;
  
}
@media (min-device-pixel-ratio: 2) and (max-width:1600px),
  (min-resolution: 192dpi) and (max-width:1600px),
  (min-resolution: 2dppx) and (max-width:1600px) {
    .hero{
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4) ),
       url(../../images/desctop-img-hero@2x.jpg);
    }
  }
.hero__title {
  color: var(--background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: auto;
  margin-bottom: 20px;
}
    @media screen and (min-width:768px) and (max-width: 1200px)  {
    .hero {
      padding:118px 0;
      background-size: cover;
    
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url(../images/tablet-img-hero.jpg);
    }
    .hero__title {
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      width: 360px;
    }
  }
    @media (min-device-pixel-ratio: 2)and (min-width:768px) and (max-width: 1200px),
    (min-resolution: 192dpi)and (min-width:768px) and (max-width: 1200px),
    (min-resolution: 2dppx) and (min-width:768px) and (max-width: 1200px) {
      .hero{
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url(../../images/tablet-img-hero@2x.jpg);
      }
    }
    @media screen and (max-width:768px) {
      .hero {
        padding:118px 0;
        background-size: cover;
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4) ),
          url(../images/mobile-img-hero.jpg);
      }
    }
    @media (min-device-pixel-ratio: 2)and (max-width:768px),
    (min-resolution: 192dpi)and (max-width:768px),
    (min-resolution: 2dppx) and (max-width:768px) {
      .hero{
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url(../../images/mobile-img-hero@2x.jpg);
      }
      .hero__title {
        font-family: Roboto;
// font-style: normal;
// font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.06em;
width: auto;
      }
    }
 
