  .box-size {
    padding-bottom: 94px;
  }
  .works {
    padding-bottom: 94px;
  }
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .advantage, .team, .clients, .presentation {
    padding-top: 94px;
    padding-bottom: 94px;
  }
    @media screen and (min-width:768px) and (max-width:1200PX) {
      .container{
        width: 768px;
      }
    }
  @media screen and (min-width:1200px) {
    .container{
      width: 1200px;
    }
  }
    @media screen and (max-width:1200px) {
      .works {display: none;}
    } 
    // @media screen and (max-width:480px) {
    //   .team {}
    // }
    // .customers__list {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;
    //   margin-left: -30px;
    //   margin-top: -30px;
    // }
    // .customers__item {
    //   margin-left: 30px;
    //   margin-top: 30px;
    //   flex-basis: calc((100% - 60px) / 2);
    // }
    // .customers__link {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // @media screen and (min-width: 768px) {
    //   .customers__item {
    //     flex-basis: calc((100% - 90px) / 3);
    //   }
    // }
    // @media screen and (min-width: 1200px) {
    //   .customers__item {
    //     flex-basis: calc((100% - 180px) / 6);}
    //   }