:root {
    --background: #ffffff;
    --background-grey: #2f303a;
    --icon: #afb1b8;
    --gray: #757575;
    --blue: #2196f3;
    --gray-button: #f5f4fa;
    --black: #212121;
    --background-presentation__thumb__type: #e5e5e5;
    --more-blue: #188ce8;
  }